.card-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #5779F1;
    border-radius: 10px;
    width: 703.1px;
    height: 70px;
    margin-bottom: 15px;
}

.card-option .card-option-chooice {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    background: #FBFBFB;
    border: 1px solid #5779F1;
    border-radius: 10px;
    width: 54.93px;
    height: 50px;
    color: #242F9B;
    line-height: 50px;
    margin-left: 11px;
}

.card-option p {
    text-align: left;
    margin-left: 25px;
    font-weight: 600;
    font-size: 18px;
}