.card-wrapper{
    max-width: 833px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgbs(0,0,0,0.5);
}

.sub-title{
    font-size: 31px;
    color: #242F9B;
    text-align: left;
    margin-bottom: 5px;
}