.quiz-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 106px;
}

.quiz-content .quiz-container {
    max-width: 704px;
    width: 100%;
    height: 502px;
}

.quiz-content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: left;
}

.choice-container {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    height: 373px;
}