.card-detail-banner-container{
    background-color: #EFF2F6;
    height: 350px;
}

.card-detail-banner-container .banner-wrap{
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    text-align: left;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-content-left {
    max-width: 500px;
    width: 100%;
}

.banner-content-left .title{
    font-size: 36px;
    margin-bottom: 90px;
    margin-left: 5px;
}

.card-detail-banner-container .little-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 17px;
}

.card-detail-banner-container .little-card-container p{
    color:  #5779F1;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px 7px;
    background-color: #E0E4F3;
    border-radius: 10px;
    margin-right: 11px;
}

.course-detail-line-box button{
    color:#FFFFFF;
    width: 110px;
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
    background-color: #5779F1;
    border-radius: 10px;
    border: none;
}

.banner-content-right img {
    border: 0.5px solid #CBC8C8;
    border-radius: 10px 10px 0px 0px;
}

.silabus{
    background-image: linear-gradient(#1E2568, #37698E);
}

.silabus .silabus-container {
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
}

.silabus-button{
    max-width: fit-content;
    border-radius: 10px;
    background-color: #F8F8F8;
    padding: 10px 10px;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

.silabus-button p{
    color:  #000000;
    text-align: center;
    font-weight: bold;
    margin: 2px;
    font-size: 16px;
}

.course-detail-card-content-container {
    margin-bottom: 79px;
}


@media screen and (max-width: 768px) {
    .container-wrap{
        text-align: left;
        padding-left: 3em;
    }

    .silabus{
        background-image: linear-gradient(#1E2568, #37698E);
        padding: 10px;
    }

    .silabus-button{
        max-width: fit-content;
        border-radius: 5px;
        background-color: #F8F8F8;
        padding: 5px 10px;
    }
    
    .silabus-button p{
        color:  #000000;
        text-align: center;
        font-weight: bold;
        margin: 2px;
        font-size: 10px;
    }
}