.learn-card-wrapper{
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    margin: 0px 23px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 18px;
}
.learn-card-wrapper:hover{
    transform: scale(1.04);
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    box-sizing: border-box;
}

.card-header {
    width: 100%;
}
.card-header .card-img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.card-content{
    padding: 18px;
}

.title-learningPath, .desc-learningPath{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
}
.title-learningPath{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 15px;
}
.desc-learningPath{
    font-size: 14px;
    line-height: 16px;
}

/* ====Respondsive =====*/

@media screen and (max-width: 768px) {
    .learn-card-wrapper{
        margin-bottom: 30px;
    }
}