.course-detail-card-wrapper {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    max-width: 833px;
    height: auto;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 36px;
}
.course-detail-card-wrapper .card-about {
    text-align: left;
    border-radius: 10px;

}
.course-detail-card-wrapper .title-about {
    font-size: 21px;
    color: #242F9B;
    font-style: Semibold;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans';
}

.course-detail-card-wrapper ul {
    font-size: 16px;
    padding-top: 5px;
    margin-left: 19px;
}

.course-detail-card-wrapper ul li {
    line-height: 34px;
    font-size: 16px;
}

.course-detail-card-wrapper .desc-about{
    font-size: 16px;
    color: #000000;
    margin-bottom: 52px;
}
.course-detail-card-wrapper .title-list{
    font-size:16px;
}

@media screen and (max-width:768px) {
    .card-wrapper {
        height: auto;
        margin: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title-about{
        font-size: 15px;
    }

    .desc-about{
        font-size: 12px;
    }

    .title-list{
        font-size: 13px;
    }

    ul{
        margin-left: 20px;
    }
}

