.course-section {
    padding-top: 34px;
    margin-bottom: 75px;
}

.course-section-container {
    max-width: 1384px;
    width: 90%;
    margin: 0 auto;
}

.course-section-container > h2 {
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 34px;
}

.course-component-container {
    max-width: 1382px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
}