/* <<<<<<< HEAD
.course-section {
    padding-top: 34px;
    margin-bottom: 75px;
}

.course-section-container {
    max-width: 1384px;
    width: 90%;
    margin: 0 auto;
}

.course-section-container > h2 {
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 34px;
}

.course-component-container {
    max-width: 1382px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
======= */
.course-wrapper{
    display: flex;
    flex-direction: column;
}
.course-title{
    width: 100%;
    padding: 30px;
    text-align: start;
}
.course-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

.course-item, .course-description{
    background-color: #FBFBFB;
}

.course-item{
    width: 20%;
    padding: 1%;
}
.course-item h1{
    margin: 10px 0 20px 0;
}

.course-description{
    padding: 25px 45px;
    width: 78%;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.course-description-title{
    margin-bottom: 40px;
}

.course-action{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-top: 20px;
}

.btn-course-action{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    color: #fff;
    background: #5779F1;
}