.learning-path-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learning-path-list-wrapper{
    margin: 64px 0px 100px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 

.learning-path-banner .banner-img{
    margin-top: 80px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/* ====Respondsive =====*/

@media screen and (max-width: 768px) {
    .learning-path-banner .banner-img{
        width: 80%;
    }
    .learning-path-list-wrapper{
        margin: 64px 0px 100px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}