.course-description {
    padding: 25px 45px;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.course-description-title{
    margin-bottom: 40px;
}

.course-read-content {
    flex-grow: 1;
}

.button-page-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 35px;
}